table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    margin: 0.5em 0em;
}
table.sheet-first-table {
    margin-top: 1.5em
}
table.sheet-last-table {
    margin-bottom: 1.5em
}
.sheet-left {
    text-align: left;
}
.sheet-right {
    text-align: right;
}
input[disabled], select {
    width: 100%;
    text-align:center;
}
input[type="text"] {
    width: 70%;
}
input[type="number"] {
    width: 2.5em;
}
td.sheet-distance:after {
    content:"cm";
}
td.sheet-angle:after {
    content:"o";
    vertical-align: super;
    font-size: 70%
}
tr {
    background-color: white;
    color: black;
}
.sheet-inverted {
    background-color: black;
    color: white;
    text-transform: uppercase;
}
td, input {
    background-color: inherited;
    color: inherited;
    padding: 0 0.5em;
}
tr.sheet-arm-content {
    display: none;
}
input.sheet-arm1:checked ~ table tr.sheet-arm1, input.sheet-arm2:checked ~ table tr.sheet-arm2, input.sheet-arm3:checked ~ table tr.sheet-arm3, input.sheet-armd:checked ~ table tr.sheet-armd, input.sheet-armp:checked ~ table tr.sheet-armp, input.sheet-armb:checked ~ table tr.sheet-armb {
    display: table-row;
}
input.sheet-arm, input.sheet-orders {
    width: 8em;
    height: 1.5em;
    position: relative;
    margin: 0;
    cursor: pointer;
    z-index: 1;
}
input.sheet-arm::before, input.sheet-orders::before {
    content: attr(title);
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    background-color: white;
    color: black;
    width: 8em;
    height: 1.5em;
}
input.sheet-orders::before {
    height: 2.5em;
}
input.sheet-arm:checked::before, input.sheet-orders:checked::before {
    background-color: black;
    color: white;
}