table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    margin: 0.5em 0em;
}
table.sheet-first-table {
    margin-top: 1.5em
}
table.sheet-last-table {
    margin-bottom: 1.5em
}
.sheet-left {
    text-align: left !important;
}
.sheet-right {
    text-align: right !important;
}
input, select {
    margin: 4px 0;
}
input[disabled] {
    background-color: rgb(255, 255, 255);
}
input[disabled][type="number"] {
    -webkit-appearance: textfield;
}
input[disabled][type="text"] {
    -webkit-appearance: menulist;
}
input[type="text"], select {
    width: 70%;
}
input[type="number"] {
    width: 4.5em !important;
}
td.sheet-distance:after {
    content:"cm";
}
td.sheet-angle:after {
    content:"o";
    vertical-align: super;
    font-size: 70%
}
tr {
    background-color: white;
    color: black;
}
.sheet-inverted {
    background-color: black;
    color: white;
    text-transform: uppercase;
}
td {
    padding: 0 0.5em;
    text-align: center;
}
tr.sheet-arm-content, 
input.sheet-armb, 
option[value="bombardment cannon"], 
option[value="nova cannon"], 
select[name="attr_armour"] option {
    display: none;
}
.sheet-arm1:checked ~ table tr.sheet-arm1, 
.sheet-arm2:checked ~ table tr.sheet-arm2, 
.sheet-arm3:checked ~ table tr.sheet-arm3, 
.sheet-armd:checked ~ table tr.sheet-armd, 
.sheet-armp:checked ~ table tr.sheet-armp, 
.sheet-armb:checked ~ table tr.sheet-armb {
    display: table-row;
}
.sheet-marine:checked ~ input.sheet-armb, 
.sheet-marine:checked ~ table tr td select option[value="bombardment cannon"], 
.sheet-marine:checked ~ table tr td select option[value="6+"], 
.sheet-marine:checked ~ table tr td select option[value="5+"], 
.sheet-imperial:checked ~ table tr td select option[value="nova cannon"],
.sheet-imperial:checked ~ table tr td select option[value="6+ front/5+"], 
.sheet-imperial:checked ~ table tr td select option[value="5+"], 
.sheet-imperial:checked ~ table tr td select option[value="4+"], 
.sheet-chaos:checked ~ table tr td select option[value="5+"], 
.sheet-chaos:checked ~ table tr td select option[value="4+"],
.sheet-eldar:checked ~ table tr td select option[value="4+"],
.sheet-orks:checked ~ table tr td select option[value="6+/5+/4+"],
.sheet-orks:checked ~ table tr td select option[value="6+ front/4+"] {
    display: inline-block;
}
.sheet-escort:checked ~ table tr td::before {
    color: transparent;
}
input.sheet-radio {
    width: 8em;
    height: 1.5em;
    position: relative;
    margin: 0;
    cursor: pointer;
    z-index: 1;
}
th[title]::before, td[title]::before {
    content: attr(title);
}
input.sheet-radio::before {
    content: attr(title);
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    background-color: white;
    color: black;
    width: 8em;
    height: 1.5em;
}
input[name="attr_orders"], input[name="attr_orders"]::before {
    height: 2.5em;
}
input.sheet-radio:checked::before {
    background-color: black;
    color: white;
}